/* Global ===================*/
:root {
  --primary-color: #2D4A22;
  --bg-color: #f0f2f5;

  --primary-text-color: #363F5F;
  --secondary-text-color: #969cb3;
  
  --expense-text-color: #e92929;
  --income-text-color: #12a454;

  --bg-card: #FFF;
  --bg-card-total: #49AA26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* Titles ===================*/
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--primary-text-color);

  font-weight: normal;
}

/* Buttons and Links ====================== */
.button {
  text-decoration: none;
  color: var(--income-text-color);
}

.button:hover {
  color:var(--bg-card-total);
}

button {
  width: 48%;
  height: 3.125rem;
  color: var(--bg-card);
  border: none;
  border-radius: 0.25rem;
  background-color: var(--income-text-color);
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: var(--bg-card-total);
}

.button.new {
  display: inline-block;
  margin-bottom: 1rem;
}

.button.cancel {
  width: 48%;
  height: 3.125rem;
  color: var(--expense-text-color);
  border: 2px solid var(--expense-text-color);
  border-radius: 0.25rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6;
  transition: .4s;
}

.button.cancel:hover {
  opacity: 1;
}

/* Header ===================*/
header {
  background-color: var(--primary-color);
  padding: 2rem 0 12rem;
  text-align: center;
}

/* Balance ===================*/
#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: white;
  margin-top: 0;
}

/* Cards ===================*/
.card {
  background-color: var(--bg-card);
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.25rem;

  color: var(--primary-text-color);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
}

.card.total {
  background-color: var(--bg-card-total);
  color: white;
}

/* Transaction ===================*/
#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 1.2rem;
  color: var(--secondary-text-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background-color: var(--bg-card);
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  background-color: var(--bg-card);
  padding: 1rem 2rem;
}

table tbody td.description {
  color: var(--primary-text-color);
}

table tbody td.income {
  color: var(--income-text-color);
}

table tbody td.expense {
  color: var(--expense-text-color);
}

/* Modal ===================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  padding: 2rem;
  background-color: var(--bg-color);
  max-width: 31.65rem;
  width: 90%;
}

.modal h2 {
  margin: 0;
}

/* Form ====================== */
form {
  max-width: 31.65rem;
}

form .input-group input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Footer ===================*/
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--primary-text-color);

  opacity: 0.6;
}

/* Responsible ==================== */
@media (min-width: 50rem) {
  html {
    font-size: 87%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}